<!DOCTYPE html>
<html>
<head>
  <title>Azure Communication Services Quickstart</title>
</head>
<body>
  <h4>Azure Communication Services</h4>
  <h1>Outbound Calling Quickstart</h1>
  <form style="display: flex;">
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/muteParticipant" value="Mute acs participant!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/holdParticipant" value="Hold participant!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/unholdParticipant" value="Unhold participant!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/listParticipant" value="List participants!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/transferCallToParticipant" value="Transfer call!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/playMedia" value="Play media!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/recognizeMedia" value="Recognize media!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/startContinuousDtmf" value="Start continuous Dtmf!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/stopContinuousDtmf" value="Stop continuous Dtmf!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/sendDtmfTones" value="Send Dtmf tones!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/startMediaStreaming" value="Start media streaming!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/stopMediaStreaming" value="Stop media streaming!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/startTranscription" value="Start transcription!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/updateTranscription" value="Update transcription!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/stopTranscription" value="Stop transcription!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/playWithInterruptMediaFlag"
        value="Play with interrupt media flag!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/hangupCall" value="Hangup call!">
    </div>
    <div style="margin-bottom: 10px;">
      <input class="large-button" type="submit" formaction="/terminateCall" value="Terminate call!">
    </div>
  </form>
</body>
</html>